@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
:root{
    --color1:#210b2c;
    --color2:#55286f;
    --color3:#bc96e6;
    --color4:#d8b4e2;
    --color5:#ae759f;
    
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* Todo relacionado a la barra lateral */
.sidebar{
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 80px;
    background: #210b2c;
    padding: 6px 14px;
    transition: all 0.3s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.logo_content .logo i{
    font-size: 28px;
    margin-right: 4px;
}
.logo_content .logo .logo_name{
    font-size: 18px;
    font-weight: 400;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    list-style: none;
    height: 50px;
    position: relative;
    margin: 0 5px;
    width: 100%;
    line-height: 50px;
}
.sidebar ul li .tooltipNav{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 150px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    z-index: 100;
    
}
.sidebar.active ul li .tooltipNav{
    display: none;
}
.sidebar ul li:hover .tooltipNav{
    transition: all 0.3s ease;
    opacity: 1;
    top: 50%;
}
.sidebar.active ul li .tooltipNav{
    display: none;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
    white-space: nowrap;

}
.sidebar ul li a:hover{
    color: #210b2c;
    background-color: #fff;
}
.sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 240px);
    left: 240px;
}

/* Todo relacionado al contenido principal */
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 105px);
    left: 95px;
    bottom: 0.5px;
    transition: all 0.3s ease;
    overflow: auto;
}

.home_content .menuRapido{
    top: 20px;
    width: 41%;
    left: 57%;
    height: 95%;
    float: right;
    position: sticky;
    padding: 12px;
    border-radius: 6px;
    background: var(--color2);
    line-height: 20px;
    margin-right: 20px;
    z-index: 12;
}

.home_content .analisis{
    top: 20px;
    width: 41%;
    left: 57%;
    height: 95%;
    float: right;
    position: sticky;
    padding: 12px;
    border-radius: 6px;
    background: var(--color2);
    line-height: 20px;
    margin-right: 20px;
}

.home_content .menuRapido .contenedor{
    font-size: 170%;
    color: black;
    width: 100%;
    padding: 0.1%;
    height: auto;
    text-align: center;
    background-color: #d8b4e2;
    border-radius: 6px;
    font-family: 'Readex Pro', sans-serif;
    line-height : 100%;
}

.home_content .menuRapido .contenedor .titulo2{
    margin: 3%;
    position: static;
    font-size: 120%;
    color: black;
    width: 94%;
    height: auto;
    border-radius: 6px;
    font-family: 'Readex Pro', sans-serif;
    line-height : 100%;
}

.home_content .menuRapido .row2{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 1%;
}

.home_content .menuRapido .row2 .instrucciones{
    font-weight: 900;
    font-family: 'Readex Pro', sans-serif;
    background-color: #d8b4e2;
    border-radius: 6px;
    order: 1;
    font-size: 80%;
    text-align: center;
    padding: 4%;
    display: flex;
    align-items: center;
    flex-grow: 2;
    margin: 0.7%;
}

.home_content .menuRapido .row2 .imagenAyuda{
    border-radius: 6px;
    margin: 0.7%;
    order: 2;
    
}

.home_content .menuRapido .columnas3{
    position: relative;
    margin: 0 auto -60px;
    top: 3%;
    width: 90%;
    height: 80%;
}

.home_content .menuRapido .columnas3 .row{
    display: flex;
    justify-content: center;
    height: 13%;
    width: 100%;
    align-self: auto
}

.home_content .menuRapido .columnas3 .row .seccionB{
    border-radius: 6px;
    background-color: #d8b4e2;
    width: 100%;
    height: 89%;
    margin: 1%;
}

.home_content .menuRapido .columnas3 .row .seccionB .semititulo, .home_content .menuRapido .columnas3 .row3 .semititulo{
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    padding-top: 1%;
}
.home_content .menuRapido .columnas3 .row .seccionB .cifra, .home_content .menuRapido .columnas3 .row3 .cifra{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 50%;
    font-size: 150%;
    margin-top: 2%;
}
.home_content .menuRapido .columnas3 .row .seccionB .cifraF{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 50%;
    font-size: 150%;
    margin-top: 2%;
    color: red;
}

.home_content .menuRapido .columnas3 .row3{
    margin: 1%;
    width: 98%;
    height: 13%;
    border-radius: 6px;
    background-color: #d8b4e2;
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
}

.home_content .menuRapido .columnas3 .row4{
    margin: 2%;
}

.home_content .menuRapido .columnas3 .row4 .semititulo{
    color: white;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    font-size: 97%;
}

.home_content .analisis .titulo{
    display: table-cell;
    vertical-align: middle;
    position: static;
    font-size: 200%;
    color: black;
    width: 100vh;
    height: 15vh;
    text-align: center;
    background-color: #d8b4e2;
    border-radius: 6px;
    font-family: 'Readex Pro', sans-serif;
    line-height : 100%;
}

.home_content .home_content .analisis .data{
    position: relative;
    margin: auto;
}

.home_content .analisis .grafico{
    width: 95%;
    margin: 5%;
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    height: 45%;
}

.home_content .analisis .titular{
    color: white;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    font-size: 100%;
}

.home_content .analisis .row{
    display: flex;
    justify-content: center;
    height: 13%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.home_content .analisis .row .seccion{
    border-radius: 6px;
    background-color: #d8b4e2;
    margin: 1%;
    height: 100%;
    width: 100%;
}

.home_content .analisis .row .seccion .semititulo{
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    padding-top: 1%;
}
.home_content .analisis .seccion .cifra{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 200%;
    padding-top: 7%;
    width: 100%;
    height: 40%;
}
.home_content .mapa{
    position: relative;
    border-radius: 6px;
    width: 50%;
    height: 2885.95px;
    float: left;
    margin-bottom: 5px;
}

.home_content .mapa svg{
    display: block;
    margin: auto;
    transform: scale(4) translateY(39%);
}

.home_content .mapa path{
    stroke: #eee;
    stroke-width: .25;
}
.home_content .mapa path:hover{
    fill: #006284;
    transition: 0.2s;
    cursor: pointer;
}

#tooltip {
    padding: 10px;
    z-index: 6;
    border: #210b2c 1px;
    border-radius: 6px;
    background: #fff;
    line-height: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
    opacity: 1;
  }